<section class="transaction">
    <h3>Recent Transactions</h3>
    <cdk-virtual-scroll-viewport itemSize="10">
        <table>
            <tr>
                <th>Type</th>
                <th>Amount XTZ (USD)</th>
                <th>Date</th>
                <th>Address</th>
            </tr>
            <ng-container *cdkVirtualFor="let tran of transactions">
                <tr class="sent">
                    <td><span>{{tran.type}}</span></td>
                    <td>{{tran.fee}} XTZ <span> </span></td>
                    <td>{{tran.timeStamp | transactionFormat}}</td>
                    <td>{{tran.address | addressFormat}}</td>
                </tr>
            </ng-container>
        </table>
    </cdk-virtual-scroll-viewport>
</section>